* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Metropolis;
  src: url(./metropolis.medium\\(1\).otf);
}

body {
  font-family: Metropolis;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  width: 35.5%;
  background-color: #372583;
  padding: 20px 40px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header > .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.gender {
  background-color: #f4f4f4;
  color: black;
  border-radius: 4px;
  padding: 2px, 6px, 2px, 6px;
  padding: 5px;
  margin-right: 5px;
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.features {
  display: flex;
  flex-direction: row;
  font-family: Metropolis;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.header-id {
  font-family: Metropolis;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.25px;
  text-align: left;
}

.header-address {
  font-family: Metropolis;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 10px;
}

.a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.a img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.a {
  margin-right: 10px;
}

.a div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.images {
  padding: 20px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 17px;
  column-gap: 10px;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}

.img-container > img {
  width: 242px;
  height: 135px;
}

.info-container {
  width: 35.5%;
  margin-top: 24px;
}

.info-header {
  background-color: #372583;
  color: white;
  padding: 10px;
  font-family: Metropolis;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.info-header-yellow {
  background-color: #ffce44;
  color: black;
}

.inner-info {
  display: grid;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 4px;
  grid-template-columns: 33% 33% 33%;
}

.info {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.info-2 {
  padding: 10px;
  color: #585858;
  font-family: Metropolis;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.info img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.info-2 img {
  width: 12px;
  height: 12px;
}

.inner-small-box {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.big-box {
  padding: 15px;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 4px;
}

.small-box p {
  margin-left: 20px;
}

.small-box {
  margin-bottom: 10px;
}

.box-info {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.box-info-dark {
  background-color: #f4f4f4;
}

.special-inner-info {
  display: grid;
  border-left: 1px solid #c8c8c8;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  border-radius: 4px;
  grid-template-columns: 50% 50%;
}

.special-info {
  padding: 20px;
}

.top-info {
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #b0b0b0;
}

.bottom-info {
  color: #222222;
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.aggrementa {
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.aggrementb {
  font-family: Metropolis;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.4000000059604645px;
  text-align: right;
}

.room-top {
  border-bottom: 1px solid #f4f4f4;
}

.room-bottom-top {
  font-family: Metropolis;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 8px;
  letter-spacing: 0px;
  text-align: left;
}

.room-bottom-top span {
  font-family: Metropolis;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
  color: #222222;
}

.room-bottom-down {
  margin-top: 5px;
  font-family: Metropolis;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 8px;
  letter-spacing: 0px;
  text-align: left;
  color: #585858;
}

.special-inner-info-2 {
  padding: 10px;
}

.room-box {
  padding: 30px;
  border: 1px solid #f4f4f4;
  margin: 15px;
  border-radius: 4px;
}

.room-top-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.room-left-typo {
  font-family: Metropolis;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.right-room {
  background-color: #ffce44;
  color: black;
  padding: 8px;
  border-radius: 4px;
  font-family: Metropolis;
  font-size: 8px;
  font-style: normal;
  font-weight: 700;
  line-height: 8px;
  letter-spacing: 0px;
  text-align: left;
}

.room-bottom{
  padding: 3px;
  margin-top: 2px;
}

.info-2{
  padding-left: 0px;
}
